# yii console command
/yii
/frontend/runtime
/frontend/web/images
/frontend/web/assets
/frontend/web/index.php
/backend/runtime
/backend/web/images
/backend/web/assets
/backend/web/index.php
/console
/frontend/config
/backend/config
/common/config

#misc
/webstat

# Other root files, like certificates or robots
/.idea
/.htaccess
/googlea581296eba58e8a7.html
/746041EB520608163BF0FF751DC9AA79.txt

# windows thumbnail cache
Thumbs.db

# composer vendor dir
/vendor
/update.php

# composer itself is not needed
/composer.phar
/composer.lock
/composer.json

# Mac DS_Store Files
.DS_Store

# phpunit itself is not needed
/phpunit.phar

# local phpunit config
/phpunit.xml

# robots, sitemap...
/robots.txt
/sitemap.xml

#tests
/tests
/codeception.yml

#other
/banner.php
/installer
/readme.txt
