/* --- MODAL WINDOW (see additional JS settings at /js/jquery.easyModal.js) --- */
.modal {
  display:none;
  max-height: calc(100vh - 80px);
  overflow-y: auto;
  z-index: 1000002;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.5);
}
.modal::-webkit-scrollbar {
  width: 0 !important;
}
.modal__content {
  min-width: 300px;
  max-width: 1024px;
  width: 500px;
  background: #fff;
}
.modal__header {
  background-color: #56646d;
  font-family: 'OsnovaProLight', sans-serif;
  height: 47px;
  overflow: hidden;
}
.modal__header .modal__caption {
  position: absolute;
  font-size:1.3em;
  color: #fff;
  font-weight: normal;
  left: 1em;
}
.modal__header--branded:before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 58px;
  height: 53px;
  opacity: 0.15;
  background-image: url('../img/logo.png');
  background-repeat: no-repeat;
  background-position: 0px -19px;
}
.modal__header--warning {
  background-color: #79131d;
}
.modal__header .modal-close {
  font-weight: normal;
  border-radius: 0px;
  color: #fff;
  overflow: visible;
  opacity:0.5;
  background: transparent;
  font-size: 19px;
}
.modal__header .modal-close:hover {
  opacity: 1;
  color: #fff;
}
.modal__body {
  background: #f4f4f4;
  color: #94a2aa;
  border-bottom: 1px solid #eee;
}
.modal__body p {
  font-size: 0.9em;
  margin: 2em 0 2em 0;
}
.modal__body p i {
  font-size: 1.25em;
  vertical-align: middle;
}
.modal__body--bigblacktext p {
  font-size: 13px;
  color: #374045;
}
.modal__footer--centered {
  text-align: center;
}
.modal__loader {
  width: 120px;
  display: block;
  margin: 1em auto;
}

.modal #ohsnap {
  position: absolute;
}
