/*
	Uploader:
	- It disables user selection to avoid some weird visuals in some browsers
	- It masks/hides the the file input behind a button
 */

.dm-uploader {
	cursor: default;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.dm-uploader {
	position: relative;
	overflow: hidden;
}

.dm-uploader input[type="file"] {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	border: solid transparent;
	width: 100%;
	opacity: .0;
	filter: alpha(opacity= 0);
	cursor: pointer;
  height: 6em;
}

.dm-uploader .u-center-block__content {
  width: 100%;
}

form .progress {
	height: 38px;
}
.dm-uploader {
	border: 0.15rem dashed #A5A5C7;
}
.dm-uploader.active {
	border-color: #0072bc;
	border-style: solid;
}
.dm-uploader.active .messagebox {
	background: #fff;
}

/* --- Progressbar --- */
.bg-success {
  background-color: #28a745!important;
}
.bg-primary {
  background-color: #007bff!important;
}
.progress-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #fff;
  text-align: center;
  background-color: #007bff;
  transition: width .6s ease;
  font-size: 0.65em;
}
.files__media .preview-content {
  font-size: 0.8em;
  margin-top: 0.5em;
}
.files__media .preview-img {
  width: 32px;
  height: 32px;
}
.files__media .text-danger {
  color: #f20;
}

/* --- Media Files --- */
.files__media {
  border-bottom: 1px solid #dadada;
}

/* Forms with upload */
#form-upload-to-photoalbum {
  display: none;
}
