/* --- SOCIAL LAYOUT --- */
#leftBlock {
    vertical-align: top;
    position: relative;
    width: 30%;
    height: 100%;
    display: inline-block;
    background: #fff;
    z-index: 1338;
    margin: -32px 0 0;
    padding: 0;
    text-align: center;
    color: #56646D;
    font-size: 1.2em;
    border-right: 1px solid #dadada;
    border-bottom: 1px solid #dadada;
}

#leftBlock h1,
#leftBlock h2,
#leftBlock h3,
#leftBlock h4,
#leftBlock h5,
#leftBlock h6 {
    padding: 0;
    margin: 0;
    font-weight: normal;
    line-height: 0.8;
}

#rightBlock {
    vertical-align: top;
    position: relative;
    height: 100%;
    width: 70%;
    display: inline-block;
    background: #FFF;
}
#content h1,
#content h2,
#content h3,
#content h4,
#content h5,
#content h6 {
  font-family: 'OsnovaProLight';
}

.social #content {
    border-right: 1px solid #dadada;
}
