/* --- SOCIAL VIDEO --- */
.video__header h1 {
  margin: 0;
  font-size: 1.1em;
  font-weight: normal;
}
.video__provider {
  color: #bcbcbc;
  font-size: .8em;
}
.video__actionbox {
  height: 100%;
}
.video__actions {
  width: 100%;
}
.video__repost {
  border-radius: 50%;
  border: 1px solid #ddd;
  padding: 5px;
  width: 30px;
  height: 30px;
  position: absolute;
  top: -7px;
  margin-right: 0;
  line-height: 1.4em;
  right: 0;
}
.video__multicontainer {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    background: #000;
}
.video__multicontainer iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
