/* --- SOCIAL PHOTO --- */
.photo__photos h1,
#photos_area h1 {
    width: 100%;
    padding: 0.3em;
    line-height: 1.7em;
    margin: 0;
    background: #edeff0;
    font-size:1.6em;
    color: #606D75;
}
.photos__albums .album {
    background: #f9f9f9;
    width:100%;
    height:112px;
    position: relative;
    cursor: pointer;
}
.photos__albums .album__title {
    font-size: .8em;
    text-align: left;
    color: #FFF;
    background: #999;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 0.5em;
}
.photos__albums .album__title div {
    float:right;
}
.photos__albums,
.photos__list,
#albums_area {
  height: calc(100vh - 45px);
}
#albums_area {
  display:none;
}
.i-newphotoalbum {
  font-size: 0.5em;
}

/* --- SOCIAL PHOTOALBUM --- */
#photoalbum-privacy,
#photoalbum-privacy_comments {
  width: 32%;
  float:right;
}

.field-photoalbum-privacy .help-block,
.field-photoalbum-privacy_comments .help-block {
  clear:both;
}

#form-create-photo .modal__footer {
  padding-bottom:0;
}

.album__highlight {
  background: #f5f5df;
}

.album__highlight .album .album__title {
  background: #cdcd7c;
}
.albums_area--loader {
  margin-top: 1.5em;
}


.album-wrap {
  padding: .25em .6em .25em .25em;
  position: relative;
}
.album-wrap:hover {
  background: #edeff0;
}
.album-wrap:hover .i-widgetbutton {
  display: block;
  z-index: 2;
  border-radius: 50%;
  background: #fff;
  padding: 0.2em;
  width: 24px;
  height: 24px;
  border:1px solid rgba(0,0,0,.2);
}
.album-wrap:hover .i-widgetbutton .zmdi {
  width: 1em;
  height: 1em;
  line-height: 1;
  font-size: 12px;
  color: rgba(0,0,0,.5);
  vertical-align: middle;
}
.album-wrap:hover .i-widgetbutton--topright {
  top:.8em;
  right:1em;
}
.album-wrap:hover .album {
  border:1px solid #edeff0;
}

.album {
  border:1px solid #fff;
}
.album-active .album,
.album-active:hover .album {
  border:1px solid rgba(0,0,0,0.5);
  -webkit-box-shadow: 0px 0px 20px -1px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 0px 20px -1px rgba(0,0,0,0.3);
  box-shadow: 0px 0px 20px -1px rgba(0,0,0,0.3);
}
